In [83]:
import pandas as pd

data = './schools-bogota-20250517.csv'

df = pd.read_csv(data)

print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   año                        2404 non-null   int64
 1   secretaria                 2404 non-null   object
 2   nombreestablecimiento      2404 non-null   object
 3   zona                       2404 non-null   object
 4   direccion                  2404 non-null   object
 5   telefono                   2342 non-null   object
 6   nombre_Rector              2404 non-null   object
 7   tipo_Establecimiento       2404 non-null   object
 8   etnias                     71 non-null     object
 9   sector                     0 non-null      float64
 10  genero                     0 non-null      float64
 11  niveles                    2388 non-null   object
 12  jornadas                   2391 non-null   object
 13  caracter                   0 non-null      float64
 14  especialidad               1294 non-null   object
 15  grados                     2388 non-null   object
 16  modelos_Educativos         2366 non-null   object
 17  capacidades_Excepcionales  10 non-null     object
 18  discapacidades             514 non-null    object
 19  idiomas                    943 non-null    object
 20  numero_de_Sedes            2404 non-null   int64
 21  estado                     0 non-null      float64
 22  prestador_de_Servicio      2404 non-null   object
 23  propiedad_Planta_Fisica    2404 non-null   object
 24  resguardo                  2404 non-null   object
 25  matricula_Contratada       2404 non-null   object
 26  calendario                 2404 non-null   object
 27  internado                  0 non-null      float64
 28  estrato_Socio_Economico    4 non-null      object
 29  correo_Electronico         1976 non-null   object
dtypes: float64(5), int64(2), object(23)
memory usage: 563.6+ KB
None
    año secretaria                              nombreestablecimiento    zona  \
0  2016     BOGOTA  GIMN NUEVO  SIDAUTO                           ...  URBANA
1  2016     BOGOTA  JARD INF LA CASITA DE CHENANO                 ...  URBANA
2  2016     BOGOTA                           ACADEMIA REAL PARA NIÑOS  URBANA
3  2016     BOGOTA  COL BILING RICHMOND                           ...  URBANA
4  2016     BOGOTA  COL COOP MONSEÑOR ISMAEL PERDOMO              ...  URBANA

                 direccion                                           telefono  \
0            KR 90 A 91 96                                  4366460  /2521545
1  AV LAS AMERICAS 69 B 59                                            4177828
2      CL 42 A 87 I 10 SUR                                            4063716
3             KR 53 222 76  6763865 -- 6763864 -- 6763866 -- 6763836 -- 67...
4      DG 62 G SUR 72 A 41                      7764491 -- 7805045 -- 7784737

                    nombre_Rector   tipo_Establecimiento etnias  sector  ...  \
0                LUZ ELENA GARZON       CENTRO EDUCATIVO    NaN     NaN  ...
1   SOLANYI XIMENA FLORIAN CAMPOS       CENTRO EDUCATIVO    NaN     NaN  ...
2       YENNI MARCELA ROZO GARCIA       CENTRO EDUCATIVO    NaN     NaN  ...
3  DIEGO FERNANDO SANCHEZ HURTADO  INSTITUCION EDUCATIVA    NaN     NaN  ...
4   TULIO RAFAEL DE LA HOZ AMARIS  INSTITUCION EDUCATIVA    NaN     NaN  ...

   numero_de_Sedes estado prestador_de_Servicio  propiedad_Planta_Fisica  \
0                1    NaN       PERSONA NATURAL          PERSONA NATURAL
1                1    NaN       PERSONA NATURAL          PERSONA NATURAL
2                1    NaN       PERSONA NATURAL          PERSONA NATURAL
3                1    NaN       PERSONA NATURAL          PERSONA NATURAL
4                1    NaN           COOPERATIVO              COOPERATIVO

   resguardo matricula_Contratada calendario internado  \
0  NO APLICA                   NO          A       NaN
1  NO APLICA                   NO          A       NaN
2  NO APLICA                   NO          A       NaN
3  NO APLICA                   NO          B       NaN
4  NO APLICA                   NO          A       NaN

  estrato_Socio_Economico                                 correo_Electronico
0                     NaN  1ºugimna@hotmail.com   1ºedugimna@hotmail.com ...
1                     NaN                            academchenano@gmail.com
2                     NaN                       academiareal2005@hotmail.com
3                     NaN         academica@cbr.edu.co --rectoria@cbr.edu.co
4                     NaN                           academicacoop@etb.net.co

[5 rows x 30 columns]

In [84]:
column_indeces = [2,3,11,14,15,16,17,19,22,26]

new_df = df.iloc[:, column_indeces]

print(new_df.info())
print(new_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   nombreestablecimiento      2404 non-null   object
 1   zona                       2404 non-null   object
 2   niveles                    2388 non-null   object
 3   especialidad               1294 non-null   object
 4   grados                     2388 non-null   object
 5   modelos_Educativos         2366 non-null   object
 6   capacidades_Excepcionales  10 non-null     object
 7   idiomas                    943 non-null    object
 8   prestador_de_Servicio      2404 non-null   object
 9   calendario                 2404 non-null   object
dtypes: object(10)
memory usage: 187.9+ KB
None
                                  nombreestablecimiento    zona  \
0     GIMN NUEVO  SIDAUTO                           ...  URBANA
1     JARD INF LA CASITA DE CHENANO                 ...  URBANA
2                              ACADEMIA REAL PARA NIÑOS  URBANA
3     COL BILING RICHMOND                           ...  URBANA
4     COL COOP MONSEÑOR ISMAEL PERDOMO              ...  URBANA
...                                                 ...     ...
2399  COL LOS ANGELES DE HELVETIA                   ...  URBANA
2400                             INST MODERNO EL LIBANO  URBANA
2401  LIC INF EL MUNDO DEL NIÑO FELIZ               ...  URBANA
2402  LIC PSICOPEDAG ENGATIVA                       ...  URBANA
2403  COL UNID RESIDENCIAL COLSEGUROS               ...  URBANA

                                                niveles especialidad  \
0     PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...          NaN
1                                            PREESCOLAR          NaN
2                                       BÁSICA PRIMARIA          NaN
3     PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...    ACADÉMICA
4     PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...    ACADÉMICA
...                                                 ...          ...
2399                         PREESCOLAR,BÁSICA PRIMARIA          NaN
2400       PREESCOLAR,BÁSICA SECUNDARIA,BÁSICA PRIMARIA          NaN
2401                         PREESCOLAR,BÁSICA PRIMARIA          NaN
2402  PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...    ACADÉMICA
2403                         PREESCOLAR,BÁSICA PRIMARIA          NaN

                                        grados  \
0               -2,-1,0,1,2,3,4,5,6,7,11,23,24
1                                           -3
2                                    1,2,3,4,5
3              -2,-1,0,1,2,3,4,5,6,7,8,9,10,11
4                    0,1,2,3,4,5,6,7,8,9,10,11
...                                        ...
2399                         -2,-1,0,1,2,3,4,5
2400                        -1,0,1,2,3,4,5,6,7
2401                         -2,-1,0,1,2,3,4,5
2402  -1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,17,18
2403                         -2,-1,0,1,2,3,4,5

                                     modelos_Educativos  \
0     PROGRAMA PARA JÓVENES EN EXTRAEDAD Y ADULTOS,E...
1                                 EDUCACIÓN TRADICIONAL
2                                 EDUCACIÓN TRADICIONAL
3                                 EDUCACIÓN TRADICIONAL
4                                 EDUCACIÓN TRADICIONAL
...                                                 ...
2399                              EDUCACIÓN TRADICIONAL
2400                              EDUCACIÓN TRADICIONAL
2401                              EDUCACIÓN TRADICIONAL
2402                              EDUCACIÓN TRADICIONAL
2403                              EDUCACIÓN TRADICIONAL

     capacidades_Excepcionales idiomas prestador_de_Servicio calendario
0                          NaN  INGLÉS       PERSONA NATURAL          A
1                          NaN     NaN       PERSONA NATURAL          A
2                          NaN     NaN       PERSONA NATURAL          A
3                          NaN  INGLÉS       PERSONA NATURAL          B
4                          NaN     NaN           COOPERATIVO          A
...                        ...     ...                   ...        ...
2399                       NaN  INGLÉS       PERSONA NATURAL          A
2400                       NaN     NaN       PERSONA NATURAL          A
2401                       NaN  INGLÉS       PERSONA NATURAL          A
2402                       NaN  INGLÉS       PERSONA NATURAL          A
2403                       NaN  INGLÉS       PERSONA NATURAL          A

[2404 rows x 10 columns]

In [85]:
print(new_df['niveles'].unique())

search_text = 'SECUNDARIA'

condition = new_df['niveles'].str.contains(search_text, na=False)
df_filtered = new_df[condition]

print(new_df['especialidad'].unique())

search_text = 'ACADÉMICA'

condition = df_filtered['especialidad'].str.contains(search_text, na=False)
df_filtered = df_filtered[condition]

print(new_df['grados'].unique())

regex_pattern = r'\b(?:8|9|10)\b'

condition_regex = df_filtered['grados'].str.contains(regex_pattern, na=False, regex=True)
df_filtered = df_filtered[condition_regex]

print(new_df['prestador_de_Servicio'].unique())

search_text = 'PERSONA NATURAL'

condition = df_filtered['prestador_de_Servicio'].str.contains(search_text, na=False)
df_filtered = df_filtered[condition]

del df_filtered['prestador_de_Servicio']

['PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA' 'PREESCOLAR'
 'BÁSICA PRIMARIA' 'MEDIA,BÁSICA SECUNDARIA' 'PREESCOLAR,BÁSICA PRIMARIA'
 'MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA'
 'PREESCOLAR,BÁSICA SECUNDARIA,BÁSICA PRIMARIA' nan
 'PREESCOLAR,MEDIA,BÁSICA SECUNDARIA'
 'PREESCOLAR,BÁSICA SECUNDARIA,MEDIA,BÁSICA PRIMARIA'
 'PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA,PRIMERA INFANCIA'
 'MEDIA' 'PREESCOLAR,MEDIA' 'BÁSICA SECUNDARIA,MEDIA,BÁSICA PRIMARIA'
 'BÁSICA SECUNDARIA,MEDIA' 'PREESCOLAR,MEDIA,BÁSICA PRIMARIA'
 'PREESCOLAR,BÁSICA SECUNDARIA' 'BÁSICA SECUNDARIA,BÁSICA PRIMARIA'
 'MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA,PRIMERA INFANCIA']
[nan 'ACADÉMICA' 'OTRO,ACADÉMICA' 'COMERCIAL,ACADÉMICA' 'AGROPECUARIO'
 'INDUSTRIAL,ACADÉMICA' 'INDUSTRIAL,AGROPECUARIO,ACADÉMICA' 'OTRO'
 'AGROPECUARIO,ACADÉMICA' 'COMERCIAL' 'INDUSTRIAL'
 'INDUSTRIAL,COMERCIAL,ACADÉMICA' 'NO APLICA,COMERCIAL,ACADÉMICA'
 'INDUSTRIAL,COMERCIAL' 'NO APLICA,ACADÉMICA'
 'PEDAGOGICO,OTRO,COMERCIAL,ACADÉMICA' 'OTRO,COMERCIAL'
 'OTRO,COMERCIAL,ACADÉMICA' 'PEDAGOGICO,ACADÉMICA' 'NO APLICA'
 'OTRO,NO APLICA,COMERCIAL,ACADÉMICA' 'OTRO,INDUSTRIAL,COMERCIAL']
['-2,-1,0,1,2,3,4,5,6,7,11,23,24' '-3' '1,2,3,4,5'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11' '0,1,2,3,4,5,6,7,8,9,10,11'
 '23,24,25,26' '-1,0,1,2,3,4,5,6,7,8,9,10,11' '-2,-1,0,1,2,3,4,5'
 '21,22,23,24,25,26' '-2,-1,0,1'
 '-1,0,1,2,3,4,5,6,7,8,9,10,11,21,22,23,24,25,26' '0,1,2,3,4,5'
 '-2,-1,0,1,2,3,4,5,6,7,8,9' '1,2,3,4,5,6,7,8,9,10,11'
 '-2,-1,0,1,2,3,4,5,7,8,21' '-1,0,1,2,3,4,5,6,7,8,9,10'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,21,22,23,24,25,26,99' '6,7,8,9,10,11'
 '0,1,2,3,4,5,6,7,8,9,10,11,14,15,17,18,99' nan
 '0,1,2,3,4,5,6,7,8,9,10,11,21,22,23,24,25,26'
 '0,1,2,3,4,5,6,7,8,9,10,11,23,24,25,26'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,22,23,24,25,26'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,22,23,24,25,26,99'
 '-2,-1,0,1,2,3,4,5,6,25,26' '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,23,24,25,26'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,12,21,22,23,24,25,26' '-1,0,1,2,3,4,5,6'
 '-1,23,24,25,26' '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,99'
 '-1,0,1,2,3,4,5,6,7,8,9,10,11,99' '0,1,2,3,4,5,6,7,8,9,10,11,99'
 '0,1,2,3,4,5,6,7,8,9' '-1,0,1,2,3,4,5,6,7,8,9,10,11,21,22,23,24,25,26,99'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,21,22,23,24,25,26'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,15,18'
 '-1,0,1,2,3,4,5,6,7,8,9,10,11,22,23,24,25,26,99' '-1,0,1,2,3,4,5'
 '-1,0,1,2,3,4,5,6,7,8,9,10,11,23,24,25,26' '-2,0,1,2,3,4,5'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,23,24,25,26,99' '-2,-1,0,1,2,3,4,5,6,99'
 '-3,-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,99' '0,1,2,3,4,5,6,7'
 '-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,18,21,22,23,24,25,26,99'
 '-2,-1,0,1,2,3,4,5,6,8' '-2,-1,0,1,2,3,4,5,6,7,8,9,10'
 '0,1,2,3,4,5,6,7,8,9,10,11,14,15,17'
 '0,1,2,3,4,5,6,7,8,9,10,11,22,23,24,25,26'
 '0,1,2,3,4,5,6,7,8,9,10,11,21,22,23,24,25,26,99' '-2,-1,0,1,2,3,4,5,99'
 '5,6,7,8,9,10,11,21,22,23,24,25,26' '-1,0,1,2,3,4,5,6,7,8,9'
 '-2,-1,0,1,2,3,4,5,7,9,10,21,22' '6,7,8,9,10,11,23,24,25,26'
 '5,6,7,8,9,10,11' '-2,-1,0,23,24,25,26' '22,23,24,25,26' '10,11'
 '5,21,22,23,24,25,26' '-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,18'
 '-1,0,1,2,3,4,5,6,7,8,9,10,11,12,13' '-1,0,1,2,3,4,5,6,7,8,9,10,11,23,24'
 '1,2,3,4,5,6,7,8,9,10,11,99' '-2,-1,0,1,2,3,4,5,6,7,8'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,17,18,21,22,23,24,25,26'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,17,18,99'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,18,99'
 '-3,-2,-1,0,1,2,3,4,5,6,7,8,9,10,11' '0,1,2,3,4,5,6,7,8'
 '-1,0,1,2,3,4,5,6,7,8' '-1,0,1,2,3,4,5,6,7,8,9,10,11,22,23,24,25,26'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,15' '7,10,11,23,24'
 '3,5,6,7,8,9,10,11,22,23,24,25,26'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,16,17'
 '-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,99'
 '0,1,2,3,4,5,6,7,8,9,10,11,14,15,18,21,22,23,24'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,12' '0,1,2,3,4,5,6,7,8,9,10,11,14,15'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,17,18' '6,7,8,9,23,24,25,26'
 '-1,1,2,3,4,5,6,7,8,9,10,11' '-1,0,1,2,3,4,5,9' '0,1,2,3'
 '0,1,2,3,4,5,6,7,11,14,15,17' '-2,-1,0,1,2,3,4,5,6' '-2,-1,0,1,2,3,4'
 '1,2,3,4,5,6,7,8,9,10,11,22,23,24,25,26,99' '-2,-1,0,1,2,3,4,5,6,7'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,16,21,99' '1,4,5,7,8,9,10,11'
 '-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,17' '-1,0,1,2,3,4,5,6,7,8,9,10,99'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,15,99'
 '2,3,4,5,6,7,8,9,10,11,21,22,23,24,25,26'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,14,99'
 '-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,18,99'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,23,24,25,26'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,12,13' '-2,-1,0,4' '-2,-1,0,11'
 '-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,16,17' '0,1,2,3,4,5,6,7,8,9,10,11,14'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,21,23,24,25,26'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,23,24,25' '-2,-1,0,1,2'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,11,99'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,18,22,23,24,25,26,99'
 '0,1,2,3,4,5,6,99' '-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,16,17,99'
 '1,2,3,4,5,6,7,8,9,10,11,12,13' '6,7,8,9,10,11,22,23,24,25,26'
 '6,7,8,9,10,11,99' '-1,0,1,2,3' '-2,-1,0,1,2,3,4,5,6,7,8,10,14,15,18,99'
 '-2,-1,0,1,2,3,4,5,8' '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15'
 '-2,-1,0,1,2,3,9' '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,99'
 '9,23,24,25,26' '-2,0,1,2,3,4,5,6,7,8,9,10,11'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,16,17,18,99'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,18'
 '-3,-2,-1,0,1,2,3,4,5,21,22,23,24,25,26'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,17,21,22,23,24'
 '10,11,21,22,23,24,25,26' '10,11,23,24,25,26' '-2,-1,0,1,26' '-2,-1,0,2'
 '-2,-1,0,3' '-1' '-2,-1,0,1,2,3' '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,24'
 '-2,-1,0,9' '-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,16,17,18'
 '0,1,2,3,4,5,6,7,8,9,10,11,17' '-2,-1,0,1,2,3,4,5,21,22,23,24,25,26'
 '-2,-1,0,1,2,3,4,5,25' '0,1,2,3,4,5,6' '-2,-1,0,1,2,3,4,5,14'
 '-2,-1,0,1,3,4,5,6,7,8,9,11' '-2,-1,0,1,2,3,4,5,25,26'
 '-2,-1,0,1,2,3,4,5,9' '-2,-1,0,1,2,5' '-2,-1,0,1,2,3,4,5,8,23,24'
 '-2,-1,1,2,3,4,5,6,7,8,9,10,11,22,26' '-2,-1,0,8'
 '-2,-1,0,1,2,3,4,5,6,7,8,15,16,18' '10,11,12,13'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,26' '-1,0,1,2,3,4,5,6,7,8,9,10,11,23'
 '0,1,2,3,4,5,6,7,8,9,10,11,14,15,16,17,18'
 '1,2,3,4,5,6,7,8,9,10,11,21,22,23,24,25,26' '0,23,24,25,26'
 '1,2,4,5,6,7,8,9' '-1,0,1,2' '0,1,2,3,4,5,6,7,8,9,10,11,14,15,18'
 '-2,-1,0,1,2,3,4,5,9,10' '-2,-1,0,1,2,3,4,5,8,9' '-2,-1,0,2,5,10'
 '6,7,8,9,10,11,21,22,23,24,25,26' '-1,0,1,2,3,4,5,6,7,8,14,15,17,18'
 '-2,-1,3,6' '-2,-1,3,4,6' '-2' '-2,-1,0,1,2,3,4,5,6,7,8,9,99'
 '7,22,23,24,25,26' '-2,-1,0,1,2,3,5' '-2,-1,3,99'
 '-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,25' '-3,1' '-2,-1,3,4' '-3,6'
 '-1,0,1,2,3,4' '-3,21,22,23,24,25,26,99' '-1,0,1,2,3,4,5,6,8,11' '-3,4'
 '-1,0,1,2,3,4,5,6,7' '-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,17,18']
['PERSONA NATURAL' 'COOPERATIVO' 'FUNDACION O CORPORACIONES'
 'COMUNIDAD RELIGIOSA' 'FEDERACIONES' 'CAJA DE COMPENSACIÓN'
 'REGIMEN ESPECIAL' 'OFICIAL' 'COMUNIDAD' 'SOCIEDAD']

In [86]:
df_filtered.info()

print(df_filtered['modelos_Educativos'].unique())

search_text = 'EXTRAEDAD'

condition = df_filtered['modelos_Educativos'].str.contains(search_text, case=False, na=True)
df_filtered = df_filtered[~condition]

search_text = 'A'

condition = df_filtered['calendario'].str.contains(search_text, na=False)
df_filtered = df_filtered[condition]

del df_filtered['calendario']

<class 'pandas.core.frame.DataFrame'>
Index: 565 entries, 3 to 2402
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   nombreestablecimiento      565 non-null    object
 1   zona                       565 non-null    object
 2   niveles                    565 non-null    object
 3   especialidad               565 non-null    object
 4   grados                     565 non-null    object
 5   modelos_Educativos         562 non-null    object
 6   capacidades_Excepcionales  7 non-null      object
 7   idiomas                    283 non-null    object
 8   calendario                 565 non-null    object
dtypes: object(9)
memory usage: 44.1+ KB
['EDUCACIÓN TRADICIONAL' 'PREESCOLAR ESCOLARIZADO_,EDUCACIÓN TRADICIONAL'
 'EDUCACIÓN TRADICIONAL,ACELERACIÓN DEL APRENDIZAJE' nan
 'PROGRAMA PARA JÓVENES EN EXTRAEDAD Y ADULTOS,EDUCACIÓN TRADICIONAL'
 'PROGRAMA PARA JÓVENES EN EXTRAEDAD Y ADULTOS'
 'PREESCOLAR ESCOLARIZADO_,PROGRAMA PARA JÓVENES EN EXTRAEDAD Y ADULTOS,EDUCACIÓN TRADICIONAL'
 'PREESCOLAR ESCOLARIZADO_,EDUCACIÓN TRADICIONAL,ACELERACIÓN DEL APRENDIZAJE'
 'PREESCOLAR NO ESCOLARIZADO/SEMIESCOLARIZADO   ,EDUCACIÓN TRADICIONAL'
 'PROGRAMA PARA JÓVENES EN EXTRAEDAD Y ADULTOS,EDUCACIÓN TRADICIONAL,ACELERACIÓN DEL APRENDIZAJE'
 'PREESCOLAR ESCOLARIZADO_,ESCUELA NUEVA,EDUCACIÓN TRADICIONAL']

In [87]:
df_filtered.info()
df_filtered

<class 'pandas.core.frame.DataFrame'>
Index: 490 entries, 7 to 2402
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   nombreestablecimiento      490 non-null    object
 1   zona                       490 non-null    object
 2   niveles                    490 non-null    object
 3   especialidad               490 non-null    object
 4   grados                     490 non-null    object
 5   modelos_Educativos         490 non-null    object
 6   capacidades_Excepcionales  6 non-null      object
 7   idiomas                    238 non-null    object
dtypes: object(8)
memory usage: 34.5+ KB

,nombreestablecimiento,zona,niveles,especialidad,grados,modelos_Educativos,capacidades_Excepcionales,idiomas
7,COLEGIO BILINGÜE INTEGRAL,URBANA,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...","OTRO,ACADÉMICA","-2,-1,0,1,2,3,4,5,6,7,8,9,10,11","PREESCOLAR ESCOLARIZADO_,EDUCACIÓN TRADICIONAL",NaN,"INGLÉS,FRANCES"
8,COL GEORGE WILLIAMS ...,URBANA,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...",ACADÉMICA,"-1,0,1,2,3,4,5,6,7,8,9,10,11",EDUCACIÓN TRADICIONAL,NaN,INGLÉS
14,COL GIMN EL PORTILLO ...,RURAL,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...",ACADÉMICA,"-2,-1,0,1,2,3,4,5,6,7,8,9,10,11","PREESCOLAR ESCOLARIZADO_,EDUCACIÓN TRADICIONAL",NaN,NaN
18,COL MOUNT VERNON ...,URBANA,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...",ACADÉMICA,"-2,-1,0,1,2,3,4,5,6,7,8,9,10,11",EDUCACIÓN TRADICIONAL,NaN,INGLÉS
29,GIMN LOS ALERCES ...,URBANA,"MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA",ACADÉMICA,"1,2,3,4,5,6,7,8,9,10,11",EDUCACIÓN TRADICIONAL,NaN,INGLÉS
...,...,...,...,...,...,...,...,...
2361,EXTERN DEL SUR PSICOPEDAGOGICO ...,URBANA,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...","OTRO,COMERCIAL,ACADÉMICA","-2,-1,0,1,2,3,4,5,6,7,8,9,10,11","PREESCOLAR ESCOLARIZADO_,EDUCACIÓN TRADICIONAL",NaN,INGLÉS
2378,COL NUEVO MONTESSORIANO ...,URBANA,"MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA",ACADÉMICA,"1,2,3,4,5,6,7,8,9,10,11",EDUCACIÓN TRADICIONAL,NaN,INGLÉS
2386,COL DOMINGO SAVIO ...,URBANA,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...",ACADÉMICA,"-2,-1,0,1,2,3,4,5,6,7,8,9,10,11",EDUCACIÓN TRADICIONAL,NaN,INGLÉS
2395,COL TIRSO DE MOLINA ...,URBANA,"MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA",ACADÉMICA,"1,2,3,4,5,6,7,8,9,10,11",EDUCACIÓN TRADICIONAL,NaN,INGLÉS
2402,LIC PSICOPEDAG ENGATIVA ...,URBANA,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...",ACADÉMICA,"-1,0,1,2,3,4,5,6,7,8,9,10,11,14,15,17,18",EDUCACIÓN TRADICIONAL,NaN,INGLÉS

In [88]:
df_filtered.to_csv('filtered.csv', index=False)